<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 展覽查詢系統 </title>
  </head>
  <body>
    <h3> 展覽查詢系統 <h3>
      <form class="">
        <label for="">想查詢的縣市</label>
        <input id="input_country" type="text" name="url" value="">
      </form>
        <button id='submit' onclick="get_show_details()">Submit</button>

	<div id="result">
	</div>
  </body>
</html>

<script>
function get_show_details() {
	var country = $("#input_country").val();
        $.ajax({
            url : '/show_details/' + encodeURIComponent(country),
            success: function(data) {
		    $("#result").html(data);
            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });
}
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
